* {
  margin: 0;
}

.covid19-header {
  color: brown;
  text-align: center;
  width: 80%;
  margin-left: 25px;
}

.covid19_block {
  display: flex;
}

.covid19_left {
  width: 80%;
  display: inline-block;
}

.covid19_contries {
  padding-left: 10px;
  padding-bottom: 10px;
}

.dropdown-menu {
  height: 650px;
  overflow-y: scroll;
  color: rgb(132, 155, 182);
}

.card {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.card > img {
  object-fit: cover;
  border-radius: 2rem;
  padding: 0.5rem 1rem 0rem 1rem;
}

.covid19_box {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.legend_box {
  flex: 1;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  margin-bottom: 3px;
}

#legend1 {
  background-color: red;
}

#legend2 {
  background-color: gray;
}
#legend3 {
  background-color: orange;
}
#legend4 {
  background-color: yellow;
}

#legend5 {
  background-color: green;
}

#legend6 {
  background-color: pink;
}
